.container {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loginForm {
  width: 55%;
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  border: thick solid blueviolet;
  border-radius: 30px;
  text-align: center;

  justify-content: center;
}

.h1-txt {
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.formArea {
  display: flex;
  width: 100%;
  height: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-btn-submit {
  cursor: pointer;
  font: bolder;
  height: 50px;
  width: 130px;
  border-radius: 10px;
  border: 2px solid blueviolet;
}
.form-btn-submit:hover {
  background-color: blueviolet;
  color: white;
}

.submit {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}
.submit {
  border: 2px solid blueviolet;
}

.submit:hover {
  background-color: blueviolet;
  color: white;
}

.input-container {
  display: flex;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.input-entry {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: thick solid blue;
}

.h4-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form1 {
  width: 100%;
}
.signup {
  cursor: pointer;
  font: bolder;
  height: 50px;
  width: 130px;
  border-radius: 10px;
  border: 2px solid blueviolet;
}

.signup:hover {
  background-color: blueviolet;
  color: white;
}
