* {
  margin: 0px;
}

.dash-container {
  /* background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */
  background: white;

  width: 100%;
  height: 100vh;
}

.dash-header {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  background-color: pink;
  align-items: center;
}
.header-left {
  margin-left: 15px;
  width: 60%;
}

.header-right {
  display: flex;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 95px;
  margin-right: 30px;
}

.search {
  align-items: center;
  height: 10vh;
  display: flex;
  width: 100%;

  justify-content: space-around;
}
.logout {
  font-size: 25px;
  font-weight: bolder;

  border: none;
  background: none;
}
.logout:hover {
  cursor: pointer;
}

.btn-sign-up {
  font-size: 25px;
  font-weight: bolder;
  border: none;
  background: none;
}
.chat-msg {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: bolder;

  text-decoration: none;
  color: black;
}
.btn-sign-up:hover {
  cursor: pointer;
}

.dash-form {
  width: 100%;
}
.dash-input {
  width: 170px;
  border-radius: 10px;
  height: 40px;
}

.btn-submit {
  height: 50px;
  width: 100px;
  border-radius: 12px;
}

.component {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: gray;
  height: 100vh;
}

.RESULT {
  height: 300px;
  margin-top: 40px;
  background: cyan;
  justify-content: space-between;
  width: 70%;
  display: flex;
  border-radius: 10px;
  border-top-left-radius: 10px;
}

.profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.RESULT_LEFT {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 9px;
  width: 45%;
  background: yellow;
  justify-content: space-evenly;
}

.RESULT_RIGHT {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
