* {
  margin: 0px;
  padding: 0px;
}
.id-container {
  height: 100vh;
  width: 100%;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.img-div {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  height: 40vh;
}
.id-profile {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.id-tag {
  text-decoration: none;
  color: yellow;
  font: bolder;
  font-size: 40;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-left: 2px;
}

.id-a {
  width: 100px;
  height: 100%;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.id-left {
  margin-left: 10px;
  display: flex;
  padding-left: 10px;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 9px;
  width: 45%;
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  border-radius: 15px;
  justify-content: space-evenly;
}
.id-right {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  border-radius: 15px;
  margin-left: 10px;
  padding-left: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
  display: flex;

  width: 50%;
  flex-direction: column;
}
.info {
  display: flex;
  height: 430px;
}
