*{
  margin : 0px;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}
 /* .Body{
  background: url"https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F861735709930165839%2F&psig=AOvVaw3lR40HsbIL_OtgU8nwseRv&ust=1606035464792000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDx-ryik-0CFQAAAAAdAAAAABAJ";
  display: block;
  margin: auto;
} */
.Body {
  padding-top: 10%;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  width: 100%;
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.loginForm {
  position: static;
  height: 70vh;
  background-color: #D3D3D3;
  margin: 0 30% 0 30%;
  top: 50%;
  left: 50%;
  border: thick solid black;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
}
.loginForm input{
  margin: 2% 25% 0 25%;
}
h1{
  padding: 1em 0 1em 0;
}
.loginForm img {
  padding: 1em 0 1em 0;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}
.buttons{
  font-weight: bold;
  padding: 1em 0 1em 0;
  background: none;
  color: #0E86D4;
  border: 5px, solid;
  border-radius: 15px;
  background-color: white;
  padding: .5em 1em; 
  font-size: 1em;
  transition: all 0.1s; 
}
.buttons:hover{
  color: rgb(69, 123, 157); 
  font-weight: bold;
  box-shadow: 5px 3px 3px #1d3557; 
  transform: translate(-0.1em,-0.1em);
  
}
.inputs{
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
  border: medium solid grey;
}
/* .inputs ::placeholder{
  padding: 0.25em;
} */
h4{
  padding: 1em 0 1em 0;
  text-align: center;
}
.signup{
  margin: 0 55% 0 45%;
}